body {
    background-image: url("./assets/images/lights.jpg");
    background-size: cover;  
    min-height: 100vh; 
}
a {
    font-family: 'Raleway';
    font-weight: bolder;
}
.card-body {

}
.card {
    border:#f08080 dotted 17px;
    font-family: 'Raleway';
    font-weight: bolder;
    color: #f08080;
}
.project-container {
    border:#f08080 dotted 17px;
    font-family: 'Raleway';
    font-weight: bolder;
    color: #f08080;
}
#projectImage {
    border:#f08080 solid 3px;
}
.card1 {
    border:#f08080 solid 3px;
}
.container {
    border:#f08080 dotted 17px;
    font-weight: bolder;
    font-family: 'Raleway';
    color: #f08080;
}
#photo {
    border:#f08080 solid 3px;
}