/*attempt in adding background color*/
body {
    background-color: rgb(1, 104, 64);
}
header {
    display: flex;
    justify-content: space-between;
    color: rgb(248, 203, 144);
    width: 100%;
    height: 10vh;
    background-image: url(../images/shadowbox.jpg);
    background-size: 100%;
    background-position: 2rem;
  }

/*playing around with banner imade insertion*/
/*#bannerimage {*/
    
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 1.5vh;
    margin-left: 1vh;
    font-size: 50px;
    text-decoration: underline;
}
header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 37%;
    margin-top: 3.5vh;
}
/*adjusted typography of navbar and text in the body*/
header ul {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
}
/*added flexbox-container to help style and give better structure to my content*/
.flexbox-container {
    display: inline;
    justify-content: space-evenly;
    position: relative;
    align-items: stretch;
}
/*updating styling sheet to the new flebox-item class I am trying*/
#flexbox-card1 {
    display: flex;
    margin: 8px;
    width: 40%;
    min-height: 45%;
    border: 3px solid rgb(110, 136, 110);
    background-color: rgb(248, 203, 144);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*added border-right to each div section separating the title from text*/
#flexbox-card1 h2{
    font-size: 30px;
    text-align: center;
    margin: 9px;
    color: rgb(1, 104, 64);
    border-right: 3px solid rgb(1, 104, 64);
    padding-right: 6px;
}
#flexbox-card1 p {
    text-align: center;
}
/*focusing on fomatting one flexbox to make the others correct as well*/ 
/*adding styling for newly added flexboxes*/
#flexbox-card2 {
    margin: 8px;
    width: 40%;
    min-height: 45%;
    border: 3px solid rgb(110, 136, 110);
    background-color: rgb(248, 203, 144);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#flexbox-card2 h2{
    font-size: 30px;
    text-align: center;
    margin: 9px;
    color: rgb(1, 104, 64);
    border-right: 3px solid rgb(1, 104, 64);
    padding-right: 6px;
}
#flexbox-card2 p {
    text-align: center;
}
/*playing with the positioning and alignment of flexboxes*/
#about {
    display: flex;
    justify-content: center;
}
#work {
    display: flex;
    justify-content: center;
}
/*styling images and sizing for section*/
.projectimage {
    width: 40%;
    height: 40%;
    margin-left: rem;
}
/*adding effects to images linking url*/
.projectimage:hover {
    opacity: 50%;
}
#contactme {
    display: flex;
    justify-content: center;
}
#flexbox-card3 {
    display: inline-block;
    position: static;
    margin: 8px;
    width: 40%;
    min-height: 35%;
    border: 3px solid rgb(110, 136, 110);
    background-color: rgb(248, 203, 144);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*changed color for the h2 tags of each div*/
#flexbox-card3 h2{
    font-size: 30px;
    text-align: center;
    margin: 4px;
    color: rgb(1, 104, 64);
    border-bottom: 3px solid rgb(1, 104, 64);
}
#flexbox-card3 p {
    text-align: center;
}