body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5ad85f9655b02cda819ab635/1593808709998-52YARZT6JNT30XGAS0SV/E32F0351-8180-439F-8842-3FABBAB81C65.jpeg?format=2500w");
    background-size: cover;  
    min-height: 100vh; 
}
.nav-container {
    background-color: #f08080;
}
li {
    font-weight: bolder;
    font-family: 'Righteous';
}
.card {
    border:#f08080 dotted 17px;
    font-family: 'Raleway';
    font-weight: bolder;
    color: #f08080;
}
.project-container {
    border:#f08080 dotted 17px;
    font-family: 'Raleway';
    font-weight: bolder;
    color: #f08080;
}
#projectImage {
    border:#f08080 solid 3px;
}
.card1 {
    border:#f08080 solid 3px;
}
.container {
    border:#f08080 dotted 17px;
    font-weight: bolder;
    font-family: 'Raleway';
    color: #f08080;
}
#photo {
    border:#f08080 solid 3px;
}
#borderIcon {
    border:#f08080 solid 2px;
}